*,
:before,
:after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
}
ol,
ul {
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
  background: 0 0;
  border: 0;
  padding: 0;
}
svg {
  display: block;
}
img {
  max-width: 100%;
  display: block;
}
table {
  border-collapse: collapse;
}
summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
[hidden] {
  display: none !important;
}
fieldset {
  border: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}

@keyframes x9q3ci1-B {
  0% {
    opacity: 0.1;
  }

  35% {
    opacity: 1;
  }

  70% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes x1bmcp3a-B {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes xfr2p19-B {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
  }

  9% {
    opacity: 1;
  }

  16% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes x161gqwa-B {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -58px;
  }
}

@keyframes x134jkux-B {
  0% {
    stroke-dashoffset: var(--length);
    opacity: 1;
  }

  5% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  14% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  20% {
    stroke-dashoffset: 0;
    opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes x1wc8ddo-B {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes x1npa8st-B {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes x108th10-B {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(var(--reach));
  }

  60% {
    transform: translateX(var(--reach));
  }

  90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes x143nqy0-B {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  3% {
    opacity: 1;
    transform: translateX(0);
  }

  9% {
    transform: translateX(0);
  }

  14% {
    transform: translateX(calc(var(--distance) * 0.2));
  }

  19% {
    transform: translateX(calc(var(--distance) * 0.2));
  }

  24% {
    transform: translateX(calc(var(--distance) * 0.4));
  }

  29% {
    transform: translateX(calc(var(--distance) * 0.4));
  }

  34% {
    transform: translateX(calc(var(--distance) * 0.6));
  }

  39% {
    transform: translateX(calc(var(--distance) * 0.6));
  }

  44% {
    transform: translateX(calc(var(--distance) * 0.8));
  }

  50% {
    transform: translateX(calc(var(--distance) * 0.8));
  }

  54% {
    transform: translateX(var(--distance));
  }

  84% {
    transform: translateX(var(--distance));
    opacity: 1;
  }

  89% {
    transform: translateX(var(--distance));
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes x1cmn93g-B {
  0% {
    opacity: 0;
    transform: translateX(-16px);
  }

  18% {
    opacity: 1;
    transform: translateX(0);
  }

  72% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes x1n4ae4f-B {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes xb0cygf-B {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-18px);
  }

  45% {
    transform: translateY(-18px);
  }

  55% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-18px);
  }

  90% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes x1rwrtx7-B {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  3% {
    opacity: 1;
    transform: translateY(0);
  }

  9% {
    transform: translateY(0);
  }

  14% {
    transform: translateY(calc(var(--distance) * 0.2));
  }

  19% {
    transform: translateY(calc(var(--distance) * 0.2));
  }

  24% {
    transform: translateY(calc(var(--distance) * 0.4));
  }

  29% {
    transform: translateY(calc(var(--distance) * 0.4));
  }

  34% {
    transform: translateY(calc(var(--distance) * 0.6));
  }

  39% {
    transform: translateY(calc(var(--distance) * 0.6));
  }

  44% {
    transform: translateY(calc(var(--distance) * 0.8));
  }

  50% {
    transform: translateY(calc(var(--distance) * 0.8));
  }

  54% {
    transform: translateY(var(--distance));
  }

  84% {
    transform: translateY(var(--distance));
    opacity: 1;
  }

  89% {
    transform: translateY(var(--distance));
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

:root,
.x5gmrtw {
  --x11kusdm: 2rem;
  --xdy9y0a: 1.75rem;
  --x1euxyaw: 2.375rem;
  --x106jqah: 1.875rem;
  --x1qp470p: 1.75rem;
  --x1u8lnsa: 2.75rem;
  --x2b3zpq: 2rem;
  --x18jho8a: 2.5rem;
  --x14oymek: 3.25rem;
  --x1ib0ui6: 0.9375rem;
  --xo6atkr: 0.8125rem;
  --x49sx09: 0.4375rem;
  --x1iqras4: 1.375rem;
  --x4ctqse: 2rem;
  --x1iolgnm: 1.75rem;
  --xdl0zjs: 1rem;
  --xv0sdj7: 15rem;
  --xzvgah2: 16.25rem;
  --xw294oa: 47.5rem;
  --x1r7ngwl: 20rem;
  --xmxmivj: 28rem;
  --xg19zab: 38rem;
  --x60986e: 13.5rem;
  --x46pa1w: 22rem;
  --x194ip2b: 73.75rem;
  --x1ark660: 40rem;
  --x1nq6fv0: 90rem;
}

:root,
.xtrx53u {
  --x172b3ng: light-dark(#0b0d0bcc, #ecebe7cc);
  --x1fcxmev: light-dark(#fafaf9cc, #121311cc);
  --xupupt1: light-dark(#fafaf999, #12131199);
  --x1xrzv63: light-dark(#fafaf929, #12131129);
  --x1b5129: light-dark(#0b0d0bd1, #ecebe7c7);
}

:root,
.x14m1vh7 {
  --x19t01d3: 0.125rem;
  --xsn07na: 0.25rem;
  --x1dxcl6m: 0.375rem;
  --xv5ac2g: 0.5rem;
  --x11cmx51: 0.75rem;
  --x1sibvyx: 1rem;
  --x1w8c4ip: 1.5rem;
  --xyukkuv: 2rem;
  --xko9tla: 3rem;
  --x4x6gcn: 4rem;
  --x1vvvw5k: 6rem;
  --xb820l9: 8rem;
}

:root,
.x1k6tpgx {
  --x1cqcm9: light-dark(0 1px 2px #382e160f, 0 0 0 transparent);
  --x187ddjo: light-dark(0 1px 2px #382e160d, 0 4px 16px #382e160d);
  --x6a9a2s: light-dark(0 8px 30px #382e161a, 0 8px 30px #0006);
  --xry64m3:
    light-dark(0 1px 2px #382e160f, 0 1px 2px #0000004d),
    light-dark(0 8px 24px #382e1614, 0 8px 24px #00000059);
  --x1n4uojm:
    light-dark(0 0 0 1px #fffbea8c, 0 0 0 1px #ffffff08),
    light-dark(0 8px 24px #382e161a, 0 8px 24px #00000059);
}

:root,
.xqfqjp3 {
  --x1dix7n8: 1px;
  --x93s297: 1.5px;
  --xcqgpfi: 2px;
}

:root,
.xjklqsu {
  --x1dmnxq1: 67.5rem;
  --x14t8rln: 4rem;
}

:root,
.xw9y5sz {
  --x1frln9q: "PolySans Var", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --x11nvdzn: "Sagittaire Display", ui-serif, Georgia, serif;
  --x1oddqxg: "Geist Mono", ui-monospace, "SF Mono", Menlo, Consolas, monospace;
  --xl2zn88: 0.6875rem;
  --xeu7oij: 0.75rem;
  --xrmj28l: 0.8125rem;
  --x1nwspj0: 0.84375rem;
  --xidj7oe: 1rem;
  --x15tbopq: 1.0625rem;
  --xrph9j0: 1.375rem;
  --x66uaym: 1.75rem;
  --x1cj0zhc: 1.625rem;
  --xagff4b: 2.125rem;
  --x1g1zkrc: 2.75rem;
  --xyqd92k: 4rem;
  --x5hg6a4: 9.75rem;
  --xatzhny: 430;
  --xulz0wt: 480;
  --xv2d9i9: 520;
  --x567qhj: 600;
  --x2oaf9m: 1.2;
  --x68jxga: 1.45;
  --x1jf5vhn: 1.75;
  --x1lq01rj: -0.02em;
  --xw6m0yp: -0.025em;
  --x181zkco: 0.06em;
}

:root,
.xwcv37i {
  --x1ksekyl: 0;
  --x175734: 1;
  --x8mzu4m: 10;
  --xicdp0o: 40;
  --x15e6rks: 50;
  --x6iu01x: 60;
  --xtzo1a1: 70;
  --xlg8okm: 80;
}

:root,
.x1mbwgn {
  --x1nbn330: light-dark(#fafaf9, #0e0f0d);
  --x1ilq9fi: light-dark(#fbfbfa, #121311);
  --x1t22p4u: light-dark(#f5f5f4, #161715);
  --x4ti8kr: light-dark(#f4f3f1, #0e0f0d);
  --x1p76q0q: light-dark(#fff, #161715);
  --xptbmh: light-dark(#fff, #1b1c1a);
  --xdokv4y: light-dark(#f7f6f4, #1b1c1a);
  --xll70my: light-dark(#f7f6f3, #0e0f0d);
  --x1ldi5ga: light-dark(#e8e6e0, #2a2b28);
  --x15zq76k: light-dark(#0b0d0b, #ecebe7);
  --x1fl7dwh: light-dark(#0b0d0b99, #ecebe799);
  --xl9gfxo: light-dark(#0b0d0b66, #ecebe761);
  --xc73mtr: light-dark(#37301f1a, #ecebe714);
  --xspv41x: light-dark(#37301f29, #ecebe724);
  --xpzwgyf: light-dark(#37301f0d, #ecebe70d);
  --x1lsa3a6: light-dark(#37301f14, #ecebe714);
  --x1s2i9z8: light-dark(#0b0d0b, #ecebe7);
  --x1io699i: light-dark(#262826, #fff);
  --xarl55d: light-dark(#fafaf9, #121311);
  --x1jrdscw: light-dark(#0b0d0b59, #ecebe766);
  --x6zu4k1: light-dark(#1c19122e, #0000008c);
  --x1ty2w6f: light-dark(#a3352a, #ff9d8f);
  --x1mjwpyh: light-dark(#fbeeec, #2d1a17);
  --x1ggnhmv: light-dark(#2f6b4f, #7fcca5);
  --xie9871: light-dark(#8a6416, #e2b85c);
  --x1q4p535: light-dark(#0b0d0b, #ecebe7);
  --x1hk21ux: light-dark(#0b0d0b73, #ecebe780);
  --x18wgakg: light-dark(#0b0d0b29, #ecebe733);
  --xxd3gek: light-dark(#0b0d0b0d, #ecebe70f);
  --x17nqerw: light-dark(#0b0d0b0f, #ecebe70f);
  --xxlwc0s: light-dark(#fafaf9, #161715);
  --x1cvatho: light-dark(#f3f2ef, #1d1e1c);
  --xbis2sr: light-dark(#ebe9e4, #252623);
  --x1pji513: light-dark(#0b0d0b, #ecebe7);
  --x1tjtjmk: light-dark(#5b5a52, #b9b7ae);
  --x14uhm10: light-dark(#0b0d0b66, #ecebe761);
}

:root,
.xy4cl6e {
  --xfx4k1g: 4px;
  --xiz33d1: 6px;
  --xki8q5j: 8px;
  --xtd77si: 999px;
}

:root,
.xmsue03 {
  --xpmgngc: 0px;
  --x1lfbocx: -18px;
}

:root,
.xttzglr {
  --xuo1pb0: 0s;
  --xtifg1: 0.12s;
  --xn7gmf2: 0.2s;
  --xpo5p1a: 0.36s;
  --x1hbizrx: 0.9s;
  --xd9th84: cubic-bezier(0.2, 0, 0, 1);
  --xdz8mtj: cubic-bezier(0.22, 1, 0.36, 1);
  --x1vje6h5: cubic-bezier(0.65, 0, 0.35, 1);
  --x1hju2um: linear;
  --x36iopg: 10s;
  --xidg6ow: 15s;
  --x784wx5: 9s;
  --x12396r0: 2.4s;
}

.x1vz1zt2:not(#\#) {
  grid-area: name;
}

.xx6lr20:not(#\#) {
  grid-area: plot;
}

.xzjkljc:not(#\#) {
  grid-area: value;
}

.x10a8y8t:not(#\#) {
  inset: 0;
}

.x1ghz6dp:not(#\#) {
  margin: 0;
}

.xzu3d35:not(#\#) {
  margin: var(--x1sibvyx) 0 var(--x1w8c4ip);
}

.xi95lyl:not(#\#) {
  padding: 0.1875rem;
}

.x1vjxkgn:not(#\#) {
  padding: 0.875rem 1rem;
}

.x1717udv:not(#\#) {
  padding: 0;
}

.xqk99yt:not(#\#) {
  padding: 1.625rem 1.25rem 0;
}

.x1j9jyta:not(#\#) {
  padding: var(--x1w8c4ip) var(--x1w8c4ip) var(--x1w8c4ip);
}

.xyyklgl:not(#\#) {
  padding: var(--x1w8c4ip) var(--x1w8c4ip);
}

.x1ib6gq2:not(#\#) {
  padding: var(--x1w8c4ip);
}

.xbh0fni:not(#\#) {
  padding: var(--xv5ac2g) var(--x1sibvyx) var(--x1w8c4ip);
}

.x1uld9x2:not(#\#) {
  padding: var(--xv5ac2g);
}

.x1e7f5b7:not(#\#) {
  padding: var(--xyukkuv);
}

.x9r1u3d:not(#\#):not(#\#) {
  border-color: #0000;
}

.x1kxxn8n:not(#\#):not(#\#) {
  border-color: var(--x15zq76k);
}

.x1cp2jgd:not(#\#):not(#\#) {
  border-color: var(--x1s2i9z8);
}

.x1rha3zb:not(#\#):not(#\#) {
  border-color: var(--xc73mtr);
}

.xa6amiv:not(#\#):not(#\#) {
  border-color: var(--xl9gfxo);
}

.x1xh6fgs:not(#\#):not(#\#) {
  border-color: var(--xspv41x);
}

.xasfvdd:not(#\#):not(#\#) {
  border-radius: var(--xfx4k1g);
}

.x1m49dzy:not(#\#):not(#\#) {
  border-radius: var(--xiz33d1);
}

.xeo0281:not(#\#):not(#\#) {
  border-radius: var(--xki8q5j);
}

.x1fdj5ao:not(#\#):not(#\#) {
  border-radius: var(--xtd77si);
}

.xng3xce:not(#\#):not(#\#) {
  border-style: none;
}

.x1y0btm7:not(#\#):not(#\#) {
  border-style: solid;
}

.xc342km:not(#\#):not(#\#) {
  border-width: 0;
}

.xmkeg23:not(#\#):not(#\#) {
  border-width: 1px;
}

.x1enigpx:not(#\#):not(#\#) {
  gap: 0.125rem;
}

.x1moyv84:not(#\#):not(#\#) {
  gap: 0.17em;
}

.x64outa:not(#\#):not(#\#) {
  gap: 0.34em;
}

.xo0bmx5:not(#\#):not(#\#) {
  gap: 0.4em;
}

.x1keyc1r:not(#\#):not(#\#) {
  gap: 3rem;
}

.xwi4jp6:not(#\#):not(#\#) {
  gap: var(--x11cmx51);
}

.xddvjb0:not(#\#):not(#\#) {
  gap: var(--x1sibvyx);
}

.xla57wm:not(#\#):not(#\#) {
  gap: var(--x1w8c4ip);
}

.x1lm1w0j:not(#\#):not(#\#) {
  gap: var(--xsn07na);
}

.x1uuc5wl:not(#\#):not(#\#) {
  gap: var(--xv5ac2g);
}

.xzccjq0:not(#\#):not(#\#) {
  gap: var(--xyukkuv);
}

.x1npkx4u:not(#\#):not(#\#) {
  grid-column: 2;
}

.xm5moh1:not(#\#):not(#\#) {
  grid-column: auto;
}

.x1vq671l:not(#\#):not(#\#) {
  grid-template-areas: "name plot value";
}

.x10im51j:not(#\#):not(#\#) {
  margin-block: 0;
}

.xqrbw1x:not(#\#):not(#\#) {
  margin-block: var(--xv5ac2g) var(--x1w8c4ip);
}

.x1jj5amu:not(#\#):not(#\#) {
  margin-inline: -0.375rem;
}

.xvueqy4:not(#\#):not(#\#) {
  margin-inline: auto;
}

.x7giv3:not(#\#):not(#\#) {
  overflow: clip;
}

.xb3r6kr:not(#\#):not(#\#) {
  overflow: hidden;
}

.x1rea2x4:not(#\#):not(#\#) {
  overflow: visible;
}

.x1o5vn8x:not(#\#):not(#\#) {
  padding-block: 0.25rem;
}

.x1qrv0by:not(#\#):not(#\#) {
  padding-block: 0.3125rem;
}

.x1bilvtl:not(#\#):not(#\#) {
  padding-block: 0.375rem;
}

.xxbimen:not(#\#):not(#\#) {
  padding-block: 0.4375rem;
}

.x3a08hx:not(#\#):not(#\#) {
  padding-block: 0.5625rem;
}

.x18g2hj5:not(#\#):not(#\#) {
  padding-block: 0.5rem;
}

.xh3qy06:not(#\#):not(#\#) {
  padding-block: 0.6875rem;
}

.xt970qd:not(#\#):not(#\#) {
  padding-block: 0;
}

.xgepmj6:not(#\#):not(#\#) {
  padding-block: 1rem;
}

.x19e2rye:not(#\#):not(#\#) {
  padding-block: var(--x11cmx51);
}

.x1m1uepq:not(#\#):not(#\#) {
  padding-block: var(--x1sibvyx);
}

.x1ui4fzt:not(#\#):not(#\#) {
  padding-block: var(--x4x6gcn) var(--xko9tla);
}

.xlood4c:not(#\#):not(#\#) {
  padding-block: var(--x4x6gcn);
}

.x3fpo91:not(#\#):not(#\#) {
  padding-block: var(--xv5ac2g);
}

.xepn3ow:not(#\#):not(#\#) {
  padding-block: var(--xyukkuv);
}

.x1hna57e:not(#\#):not(#\#) {
  padding-inline: 0.18em;
}

.x129psgg:not(#\#):not(#\#) {
  padding-inline: 1.75rem;
}

.xytk0ay:not(#\#):not(#\#) {
  padding-inline: var(--x11cmx51);
}

.x1vf0j5f:not(#\#):not(#\#) {
  padding-inline: var(--x1sibvyx);
}

.x1ckutf9:not(#\#):not(#\#) {
  padding-inline: var(--x1w8c4ip);
}

.x1dexvj:not(#\#):not(#\#) {
  padding-inline: var(--xko9tla);
}

.x1nbr778:not(#\#):not(#\#) {
  padding-inline: var(--xv5ac2g);
}

.xim77d8:hover:not(#\#):not(#\#) {
  border-color: var(--xspv41x);
}

.xlh3980:not(#\#):not(#\#):not(#\#) {
  -moz-osx-font-smoothing: grayscale;
}

.xvmahel:not(#\#):not(#\#):not(#\#) {
  -webkit-font-smoothing: antialiased;
}

.x10ukxgv:not(#\#):not(#\#):not(#\#) {
  align-content: start;
}

.x1pha0wt:not(#\#):not(#\#):not(#\#) {
  align-items: baseline;
}

.x6s0dn4:not(#\#):not(#\#):not(#\#) {
  align-items: center;
}

.xpqajaz:not(#\#):not(#\#):not(#\#) {
  align-items: end;
}

.xuk3077:not(#\#):not(#\#):not(#\#) {
  align-items: flex-end;
}

.x7a106z:not(#\#):not(#\#):not(#\#) {
  align-items: start;
}

.x1qjc9v5:not(#\#):not(#\#):not(#\#) {
  align-items: stretch;
}

.xamitd3:not(#\#):not(#\#):not(#\#) {
  align-self: center;
}

.x1y8v6su:not(#\#):not(#\#):not(#\#) {
  align-self: start;
}

.xeo85xg:not(#\#):not(#\#):not(#\#) {
  animation-direction: reverse;
}

.xemfg65:not(#\#):not(#\#):not(#\#) {
  animation-duration: 0.8s;
}

.xr7ufhj:not(#\#):not(#\#):not(#\#) {
  animation-duration: 1.1s;
}

.x18ebdri:not(#\#):not(#\#):not(#\#) {
  animation-duration: 10s;
}

.x17rb3hg:not(#\#):not(#\#):not(#\#) {
  animation-duration: 12s;
}

.xlwoguv:not(#\#):not(#\#):not(#\#) {
  animation-duration: 15s;
}

.xlbroas:not(#\#):not(#\#):not(#\#) {
  animation-duration: 3.2s;
}

.x1nba98c:not(#\#):not(#\#):not(#\#) {
  animation-duration: 4.5s;
}

.xz5h9r3:not(#\#):not(#\#):not(#\#) {
  animation-duration: 5s;
}

.x10zivq5:not(#\#):not(#\#):not(#\#) {
  animation-duration: 9s;
}

.x1u6ievf:not(#\#):not(#\#):not(#\#) {
  animation-fill-mode: both;
}

.xa4qsjk:not(#\#):not(#\#):not(#\#) {
  animation-iteration-count: infinite;
}

.x1a5igra:not(#\#):not(#\#):not(#\#) {
  animation-name: none;
}

.x1lfcbla:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

.x1w258dv:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.xq57n9:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.x4hg4is:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: ease-in-out;
}

.x1esw782:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: linear;
}

.xiypi3l:not(#\#):not(#\#):not(#\#) {
  animation-timing-function: var(--xdz8mtj);
}

.xjbqb8w:not(#\#):not(#\#):not(#\#) {
  background-color: #0000;
}

.x1psaxjm:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x15zq76k);
}

.x1rkeu25:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x17nqerw);
}

.x1ahe86y:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1ilq9fi);
}

.xw1qdzp:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1ldi5ga);
}

.xoex4ha:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1lsa3a6);
}

.xgtxf4d:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1p76q0q);
}

.x1yp45he:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1s2i9z8);
}

.x1uscoqc:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1t22p4u);
}

.xh9hs8b:not(#\#):not(#\#):not(#\#) {
  background-color: var(--xll70my);
}

.xk5rf6e:not(#\#):not(#\#):not(#\#) {
  background-color: var(--xpzwgyf);
}

.x1mwwwfo:not(#\#):not(#\#):not(#\#) {
  border-collapse: collapse;
}

.x16rzm5q:not(#\#):not(#\#):not(#\#) {
  border-inline-end-color: var(--xc73mtr);
}

.x18b5jzi:not(#\#):not(#\#):not(#\#) {
  border-inline-end-style: solid;
}

.x1lun4ml:not(#\#):not(#\#):not(#\#) {
  border-inline-end-width: 1px;
}

.xrgsvv4:not(#\#):not(#\#):not(#\#) {
  border-inline-start-color: var(--xc73mtr);
}

.x1t7ytsu:not(#\#):not(#\#):not(#\#) {
  border-inline-start-style: solid;
}

.xpilrb4:not(#\#):not(#\#):not(#\#) {
  border-inline-start-width: 1px;
}

.xyh5bb9:not(#\#):not(#\#):not(#\#) {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.x1gnnqk1:not(#\#):not(#\#):not(#\#) {
  box-shadow: none;
}

.x10dwiql:not(#\#):not(#\#):not(#\#) {
  box-shadow: var(--x187ddjo);
}

.xjestkv:not(#\#):not(#\#):not(#\#) {
  box-shadow: var(--x1cqcm9);
}

.xjuiz1d:not(#\#):not(#\#):not(#\#) {
  box-shadow: var(--x6a9a2s);
}

.xeh89do:not(#\#):not(#\#):not(#\#) {
  clip: rect(0 0 0 0);
}

.x1heor9g:not(#\#):not(#\#):not(#\#) {
  color: inherit;
}

.x15qmimi:not(#\#):not(#\#):not(#\#) {
  color: var(--x15zq76k);
}

.x82r7qt:not(#\#):not(#\#):not(#\#) {
  color: var(--x172b3ng);
}

.x1ebafky:not(#\#):not(#\#):not(#\#) {
  color: var(--x1b5129);
}

.xbas2qq:not(#\#):not(#\#):not(#\#) {
  color: var(--x1fcxmev);
}

.x12jqcjf:not(#\#):not(#\#):not(#\#) {
  color: var(--x1fl7dwh);
}

.xfykrs6:not(#\#):not(#\#):not(#\#) {
  color: var(--x1s2i9z8);
}

.x338ckj:not(#\#):not(#\#):not(#\#) {
  color: var(--xarl55d);
}

.x6mvqft:not(#\#):not(#\#):not(#\#) {
  color: var(--xie9871);
}

.x17nrbhc:not(#\#):not(#\#):not(#\#) {
  color: var(--xl9gfxo);
}

.xx865hn:not(#\#):not(#\#):not(#\#) {
  color: var(--xupupt1);
}

.x19aimcq:not(#\#):not(#\#):not(#\#) {
  color-scheme: light;
}

.x12niniu:not(#\#):not(#\#):not(#\#) {
  column-gap: var(--x11cmx51);
}

.x1ypdohk:not(#\#):not(#\#):not(#\#) {
  cursor: pointer;
}

.x1lliihq:not(#\#):not(#\#):not(#\#) {
  display: block;
}

.x78zum5:not(#\#):not(#\#):not(#\#) {
  display: flex;
}

.xrvj5dj:not(#\#):not(#\#):not(#\#) {
  display: grid;
}

.x1rg5ohu:not(#\#):not(#\#):not(#\#) {
  display: inline-block;
}

.x3nfvp2:not(#\#):not(#\#):not(#\#) {
  display: inline-flex;
}

.x1s85apg:not(#\#):not(#\#):not(#\#) {
  display: none;
}

.xbh8q5q:not(#\#):not(#\#):not(#\#) {
  fill: none;
}

.x1pv4xiv:not(#\#):not(#\#):not(#\#) {
  fill: var(--x15zq76k);
}

.x11p7jkc:not(#\#):not(#\#):not(#\#) {
  fill: var(--x18wgakg);
}

.xi7ypg7:not(#\#):not(#\#):not(#\#) {
  fill: var(--x1cvatho);
}

.xqlmgge:not(#\#):not(#\#):not(#\#) {
  fill: var(--x1fl7dwh);
}

.x1bjm7i9:not(#\#):not(#\#):not(#\#) {
  fill: var(--x1ldi5ga);
}

.x109vsy8:not(#\#):not(#\#):not(#\#) {
  fill: var(--x1p76q0q);
}

.xexyh7b:not(#\#):not(#\#):not(#\#) {
  fill: var(--x1q4p535);
}

.xwxmm9a:not(#\#):not(#\#):not(#\#) {
  fill: var(--xbis2sr);
}

.xu51e34:not(#\#):not(#\#):not(#\#) {
  fill: var(--xl9gfxo);
}

.x198r6ha:not(#\#):not(#\#):not(#\#) {
  fill: var(--xxlwc0s);
}

.x1dftt0s:not(#\#):not(#\#):not(#\#) {
  filter: invert();
}

.xdt5ytf:not(#\#):not(#\#):not(#\#) {
  flex-direction: column;
}

.x1q0g3np:not(#\#):not(#\#):not(#\#) {
  flex-direction: row;
}

.x1iyjqo2:not(#\#):not(#\#):not(#\#) {
  flex-grow: 1;
}

.x2lah0s:not(#\#):not(#\#):not(#\#) {
  flex-shrink: 0;
}

.x1a02dak:not(#\#):not(#\#):not(#\#) {
  flex-wrap: wrap;
}

.x1e5iog7:not(#\#):not(#\#):not(#\#) {
  font-family:
    Geist Mono,
    ui-monospace,
    monospace;
}

.xjb2p0i:not(#\#):not(#\#):not(#\#) {
  font-family: inherit;
}

.x1sj4qpo:not(#\#):not(#\#):not(#\#) {
  font-family: var(--x11nvdzn);
}

.x1weumpc:not(#\#):not(#\#):not(#\#) {
  font-family: var(--x1frln9q);
}

.x1aqke2e:not(#\#):not(#\#):not(#\#) {
  font-family: var(--x1oddqxg);
}

.x6phcfz:not(#\#):not(#\#):not(#\#) {
  font-size: 0.5rem;
}

.x1up2fpq:not(#\#):not(#\#):not(#\#) {
  font-size: 0.78125rem;
}

.xkpwil5:not(#\#):not(#\#):not(#\#) {
  font-size: 0.875rem;
}

.x18ihxl1:not(#\#):not(#\#):not(#\#) {
  font-size: 0.90625rem;
}

.x6u19be:not(#\#):not(#\#):not(#\#) {
  font-size: 0.9375rem;
}

.x1lkfr7t:not(#\#):not(#\#):not(#\#) {
  font-size: 1.0625rem;
}

.xlm9qay:not(#\#):not(#\#):not(#\#) {
  font-size: 1.1875rem;
}

.x1aueamr:not(#\#):not(#\#):not(#\#) {
  font-size: 1.375rem;
}

.xngnso2:not(#\#):not(#\#):not(#\#) {
  font-size: 1.5rem;
}

.xddofbv:not(#\#):not(#\#):not(#\#) {
  font-size: 1.625rem;
}

.x1q74xe4:not(#\#):not(#\#):not(#\#) {
  font-size: 1.75rem;
}

.xcg35fi:not(#\#):not(#\#):not(#\#) {
  font-size: 1.875rem;
}

.x1k6wstc:not(#\#):not(#\#):not(#\#) {
  font-size: 10px;
}

.x1j6dyjg:not(#\#):not(#\#):not(#\#) {
  font-size: 11px;
}

.x2ouz8m:not(#\#):not(#\#):not(#\#) {
  font-size: 13.5px;
}

.xucymfc:not(#\#):not(#\#):not(#\#) {
  font-size: 2.125rem;
}

.xceuqb6:not(#\#):not(#\#):not(#\#) {
  font-size: 2.375rem;
}

.x1iv1qll:not(#\#):not(#\#):not(#\#) {
  font-size: 2.75rem;
}

.x146ww0r:not(#\#):not(#\#):not(#\#) {
  font-size: 3.25rem;
}

.x8cw2a4:not(#\#):not(#\#):not(#\#) {
  font-size: 3rem;
}

.xe20n8i:not(#\#):not(#\#):not(#\#) {
  font-size: 4.5rem;
}

.xs7jcj7:not(#\#):not(#\#):not(#\#) {
  font-size: 4.75rem;
}

.xfmn3hh:not(#\#):not(#\#):not(#\#) {
  font-size: 9.5px;
}

.x1x0tem7:not(#\#):not(#\#):not(#\#) {
  font-size: clamp(2.75rem, 7vw, 4.5rem);
}

.xjvplnb:not(#\#):not(#\#):not(#\#) {
  font-size: clamp(4.5rem, 20vw, 9.75rem);
}

.x112aivy:not(#\#):not(#\#):not(#\#) {
  font-size: var(--x1g1zkrc);
}

.xhf1khz:not(#\#):not(#\#):not(#\#) {
  font-size: var(--x1nwspj0);
}

.x1n8ma1q:not(#\#):not(#\#):not(#\#) {
  font-size: var(--x66uaym);
}

.x1v8d7pv:not(#\#):not(#\#):not(#\#) {
  font-size: var(--xagff4b);
}

.xxzdz54:not(#\#):not(#\#):not(#\#) {
  font-size: var(--xeu7oij);
}

.x1w1dcgh:not(#\#):not(#\#):not(#\#) {
  font-size: var(--xidj7oe);
}

.x1qeq41m:not(#\#):not(#\#):not(#\#) {
  font-size: var(--xl2zn88);
}

.xzhs6l6:not(#\#):not(#\#):not(#\#) {
  font-size: var(--xrmj28l);
}

.x17gc79u:not(#\#):not(#\#):not(#\#) {
  font-variant-numeric: lining-nums;
}

.xss6m8b:not(#\#):not(#\#):not(#\#) {
  font-variant-numeric: tabular-nums;
}

.xo1l8bm:not(#\#):not(#\#):not(#\#) {
  font-weight: 400;
}

.x1im5e5j:not(#\#):not(#\#):not(#\#) {
  font-weight: 620;
}

.x7ibg6a:not(#\#):not(#\#):not(#\#) {
  font-weight: var(--xatzhny);
}

.xbctzgb:not(#\#):not(#\#):not(#\#) {
  font-weight: var(--xulz0wt);
}

.x1rs38u6:not(#\#):not(#\#):not(#\#) {
  font-weight: var(--xv2d9i9);
}

.x1vyre01:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1.125rem 1fr;
}

.x1gjcbqd:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1.1fr 1fr;
}

.xdrqwvw:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1.25fr 1fr;
}

.x1cwpbzz:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1.2fr 1fr;
}

.x1vertqi:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1.875rem 1fr;
}

.x56x950:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 10.5rem 1fr;
}

.x1rxp7n6:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1fr 1.05fr;
}

.x134kloy:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1fr auto 1fr;
}

.x52fmzj:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 1fr auto;
}

.x4cs599:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 2.75rem 1fr 1.25rem;
}

.x1yu18rf:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: 7.5rem minmax(0, 1fr) 5.75rem;
}

.x19s79rn:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1.3fr);
}

.xcjjqqt:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.xnby9oq:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.x18qx12s:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(3, 7.5rem) 1fr;
}

.x185a7wo:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.x1sipb5g:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.x16u84gf:not(#\#):not(#\#):not(#\#) {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.x1o0tod:not(#\#):not(#\#):not(#\#) {
  inset-inline-start: 0;
}

.xl56j7k:not(#\#):not(#\#):not(#\#) {
  justify-content: center;
}

.x13a6bvl:not(#\#):not(#\#):not(#\#) {
  justify-content: flex-end;
}

.x1qughib:not(#\#):not(#\#):not(#\#) {
  justify-content: space-between;
}

.x1o2pa38:not(#\#):not(#\#):not(#\#) {
  justify-items: center;
}

.x619ttb:not(#\#):not(#\#):not(#\#) {
  justify-items: start;
}

.x1qab1bc:not(#\#):not(#\#):not(#\#) {
  justify-self: end;
}

.x1lqcxt8:not(#\#):not(#\#):not(#\#) {
  justify-self: start;
}

.x1hi0czg:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.012em;
}

.x72az59:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.02em;
}

.xrq0m5f:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.035em;
}

.x1b4dsll:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.03em;
}

.x3oqj52:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.048em;
}

.xo2cfqc:not(#\#):not(#\#):not(#\#) {
  letter-spacing: -0.04em;
}

.x1yf5rgg:not(#\#):not(#\#):not(#\#) {
  letter-spacing: 0.01em;
}

.x1vyo3qp:not(#\#):not(#\#):not(#\#) {
  letter-spacing: 0.04em;
}

.x9pfba7:not(#\#):not(#\#):not(#\#) {
  letter-spacing: 0.08em;
}

.x12oo3zp:not(#\#):not(#\#):not(#\#) {
  letter-spacing: 0;
}

.x1ot8b1o:not(#\#):not(#\#):not(#\#) {
  letter-spacing: var(--x181zkco);
}

.xtqgemr:not(#\#):not(#\#):not(#\#) {
  letter-spacing: var(--xw6m0yp);
}

.x2fkcpg:not(#\#):not(#\#):not(#\#) {
  line-height: 0.9;
}

.x1vsts26:not(#\#):not(#\#):not(#\#) {
  line-height: 1.08;
}

.x1159mfc:not(#\#):not(#\#):not(#\#) {
  line-height: 1.1;
}

.x1uo3zyz:not(#\#):not(#\#):not(#\#) {
  line-height: 1.15;
}

.x1u7k74:not(#\#):not(#\#):not(#\#) {
  line-height: 1.2;
}

.x132q4wb:not(#\#):not(#\#):not(#\#) {
  line-height: 1.25;
}

.x37zpob:not(#\#):not(#\#):not(#\#) {
  line-height: 1.4;
}

.xfrs9s4:not(#\#):not(#\#):not(#\#) {
  line-height: 1.45;
}

.x1evy7pa:not(#\#):not(#\#):not(#\#) {
  line-height: 1.5;
}

.x1jjo3f5:not(#\#):not(#\#):not(#\#) {
  line-height: 1.55;
}

.x1dbl2gt:not(#\#):not(#\#):not(#\#) {
  line-height: 1.6;
}

.x11m8ghp:not(#\#):not(#\#):not(#\#) {
  line-height: 1.65;
}

.x4q1cud:not(#\#):not(#\#):not(#\#) {
  line-height: 1.75;
}

.xo5v014:not(#\#):not(#\#):not(#\#) {
  line-height: 1;
}

.xtaz4m5:not(#\#):not(#\#):not(#\#) {
  list-style-type: disc;
}

.x1lziwak:not(#\#):not(#\#):not(#\#) {
  margin-inline-start: 0;
}

.x1qxhymd:not(#\#):not(#\#):not(#\#) {
  margin-inline-start: var(--xv5ac2g);
}

.x19s9pn4:not(#\#):not(#\#):not(#\#) {
  opacity: 0.82;
}

.x3sw2vo:not(#\#):not(#\#):not(#\#) {
  opacity: 0.94;
}

.xg01cxk:not(#\#):not(#\#):not(#\#) {
  opacity: 0;
}

.x1hkrxdq:not(#\#):not(#\#):not(#\#) {
  outline-color: var(--x1jrdscw);
}

.x2ssjo2:not(#\#):not(#\#):not(#\#) {
  outline-offset: -2px;
}

.x1hl8ikr:not(#\#):not(#\#):not(#\#) {
  outline-offset: 2px;
}

.x2wh2y9:not(#\#):not(#\#):not(#\#) {
  outline-offset: 4px;
}

.xaatb59:not(#\#):not(#\#):not(#\#) {
  outline-style: solid;
}

.x1k57tk5:not(#\#):not(#\#):not(#\#) {
  outline-width: 0;
}

.xj0a0fe:not(#\#):not(#\#):not(#\#) {
  overflow-wrap: anywhere;
}

.x16pyqqi:not(#\#):not(#\#):not(#\#) {
  padding-inline-end: var(--x1w8c4ip);
}

.x531hfe:not(#\#):not(#\#):not(#\#) {
  padding-inline-start: 1.125rem;
}

.x1bh7nc0:not(#\#):not(#\#):not(#\#) {
  padding-inline-start: 2.75rem;
}

.x10l6tqk:not(#\#):not(#\#):not(#\#) {
  position: absolute;
}

.x1n2onr6:not(#\#):not(#\#):not(#\#) {
  position: relative;
}

.x7wzq59:not(#\#):not(#\#):not(#\#) {
  position: sticky;
}

.xkcv6ua:not(#\#):not(#\#):not(#\#) {
  scroll-behavior: smooth;
}

.x1rohswg:not(#\#):not(#\#):not(#\#) {
  scrollbar-width: none;
}

.xeutv01:not(#\#):not(#\#):not(#\#) {
  stroke: none;
}

.xf4ai4y:not(#\#):not(#\#):not(#\#) {
  stroke: var(--x15zq76k);
}

.x1qrv7hk:not(#\#):not(#\#):not(#\#) {
  stroke: var(--x17nqerw);
}

.xvdc9pg:not(#\#):not(#\#):not(#\#) {
  stroke: var(--x18wgakg);
}

.xqiwpxz:not(#\#):not(#\#):not(#\#) {
  stroke: var(--x1cvatho);
}

.xet7018:not(#\#):not(#\#):not(#\#) {
  stroke: var(--xbis2sr);
}

.xvzkw6g:not(#\#):not(#\#):not(#\#) {
  stroke: var(--xl9gfxo);
}

.x1ioyxzk:not(#\#):not(#\#):not(#\#) {
  stroke: var(--xspv41x);
}

.xhhe35f:not(#\#):not(#\#):not(#\#) {
  stroke: var(--xxlwc0s);
}

.x3k3lm6:not(#\#):not(#\#):not(#\#) {
  stroke-dasharray: 16 5 3 5;
}

.x1bpwu3k:not(#\#):not(#\#):not(#\#) {
  stroke-dasharray: 2 3;
}

.x1ba9y5v:not(#\#):not(#\#):not(#\#) {
  stroke-dasharray: 2 4;
}

.x1w8zb96:not(#\#):not(#\#):not(#\#) {
  stroke-dasharray: 3 4;
}

.x1owpc8m:not(#\#):not(#\#):not(#\#) {
  stroke-linecap: round;
}

.x1f6yumg:not(#\#):not(#\#):not(#\#) {
  stroke-linejoin: round;
}

.xnpr05h:not(#\#):not(#\#):not(#\#) {
  stroke-width: 1px;
}

.xeq4nuv:not(#\#):not(#\#):not(#\#) {
  tab-size: 2;
}

.x2b8uid:not(#\#):not(#\#):not(#\#) {
  text-align: center;
}

.xp4054r:not(#\#):not(#\#):not(#\#) {
  text-align: end;
}

.xdpxx8g:not(#\#):not(#\#):not(#\#) {
  text-align: left;
}

.x1hr2gdg:not(#\#):not(#\#):not(#\#) {
  text-align: right;
}

.x1yc453h:not(#\#):not(#\#):not(#\#) {
  text-align: start;
}

.xb10fn9:not(#\#):not(#\#):not(#\#) {
  -webkit-text-decoration-color: var(--xspv41x);
  text-decoration-color: var(--xspv41x);
}

.xkrqix3:not(#\#):not(#\#):not(#\#) {
  text-decoration-line: none;
}

.xujl8zx:not(#\#):not(#\#):not(#\#) {
  text-decoration-line: underline;
}

.xyi4chj:not(#\#):not(#\#):not(#\#) {
  text-decoration-thickness: 1px;
}

.xlyipyv:not(#\#):not(#\#):not(#\#) {
  text-overflow: ellipsis;
}

.xfqjyog:not(#\#):not(#\#):not(#\#) {
  text-rendering: optimizelegibility;
}

.xtvhhri:not(#\#):not(#\#):not(#\#) {
  text-transform: uppercase;
}

.x1jdncgf:not(#\#):not(#\#):not(#\#) {
  text-underline-offset: 0.25em;
}

.x1t3e9rw:not(#\#):not(#\#):not(#\#) {
  text-underline-offset: 0.45em;
}

.x1w2vvpw:not(#\#):not(#\#):not(#\#) {
  text-wrap: balance;
}

.x1fzhlzt:not(#\#):not(#\#):not(#\#) {
  text-wrap: pretty;
}

.xpk2tj9:not(#\#):not(#\#):not(#\#) {
  transform: scaleX(-1);
}

.x1bee3ir:not(#\#):not(#\#):not(#\#) {
  transform: translateY(-200%);
}

.x1764fhq:not(#\#):not(#\#):not(#\#) {
  transform-box: fill-box;
}

.x1nf803f:not(#\#):not(#\#):not(#\#) {
  transform-origin: 0;
}

.x1qzr6s2:not(#\#):not(#\#):not(#\#) {
  transition-duration: var(--xn7gmf2);
}

.xw25swx:not(#\#):not(#\#):not(#\#) {
  transition-duration: var(--xpo5p1a);
}

.xv08gh2:not(#\#):not(#\#):not(#\#) {
  transition-duration: var(--xtifg1);
}

.xyim87l:not(#\#):not(#\#):not(#\#) {
  transition-property: background-color, border-color, box-shadow, transform;
}

.xs2xxs2:not(#\#):not(#\#):not(#\#) {
  transition-property: background-color, color;
}

.x15406qy:not(#\#):not(#\#):not(#\#) {
  transition-property: background-color;
}

.x16mfhj0:not(#\#):not(#\#):not(#\#) {
  transition-property: box-shadow, border-color;
}

.xt3l3uh:not(#\#):not(#\#):not(#\#) {
  transition-property: color;
}

.x11xpdln:not(#\#):not(#\#):not(#\#) {
  transition-property: transform;
}

.xxrbq2n:not(#\#):not(#\#):not(#\#) {
  transition-property: width;
}

.x8ewv2s:not(#\#):not(#\#):not(#\#) {
  transition-timing-function: var(--xd9th84);
}

.xmpxzm:not(#\#):not(#\#):not(#\#) {
  transition-timing-function: var(--xdz8mtj);
}

.x87ps6o:not(#\#):not(#\#):not(#\#) {
  -webkit-user-select: none;
  user-select: none;
}

.xuxw1ft:not(#\#):not(#\#):not(#\#) {
  white-space: nowrap;
}

.x126k92a:not(#\#):not(#\#):not(#\#) {
  white-space: pre-wrap;
}

.x1sdyfia:not(#\#):not(#\#):not(#\#) {
  white-space: pre;
}

.x1vjfegm:not(#\#):not(#\#):not(#\#) {
  z-index: 1;
}

.x1n327nk:not(#\#):not(#\#):not(#\#) {
  z-index: 10;
}

.x1u8a7rm:not(#\#):not(#\#):not(#\#) {
  z-index: 5;
}

.x16qenlv.x16qenlv:where(.x-default-marker:focus-visible ~ *):not(#\#):not(#\#):not(#\#) {
  box-shadow: 0 0 0 2px var(--x1jrdscw);
}

.x1ling68.x1ling68:where(.x-default-marker:checked ~ *):not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1p76q0q);
}

.xhgcjut.xhgcjut:where(.x-default-marker:checked ~ *):not(#\#):not(#\#):not(#\#) {
  box-shadow: var(--x1cqcm9);
}

.x27d1qq.x27d1qq:where(.x-default-marker:checked ~ *):not(#\#):not(#\#):not(#\#) {
  color: var(--x15zq76k);
}

.x784prv:focus-visible:not(#\#):not(#\#):not(#\#) {
  outline-width: 2px;
}

.x1pjv70x:first-child:not(#\#):not(#\#):not(#\#) {
  border-inline-start-width: 0;
}

.xvuwdrf:hover:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1io699i);
}

.x1o0l6mv:hover:not(#\#):not(#\#):not(#\#) {
  background-color: var(--x1p76q0q);
}

.xyeq32h:hover:not(#\#):not(#\#):not(#\#) {
  background-color: var(--xdokv4y);
}

.x1lv9hqy:hover:not(#\#):not(#\#):not(#\#) {
  background-color: var(--xpzwgyf);
}

.x1xlzk1x:hover:not(#\#):not(#\#):not(#\#) {
  box-shadow: var(--x6a9a2s);
}

.xbavtvh:hover:not(#\#):not(#\#):not(#\#) {
  color: var(--x15zq76k);
}

.xvxi58v:hover:not(#\#):not(#\#):not(#\#) {
  color: var(--x1fl7dwh);
}

.x1sur9pj:hover:not(#\#):not(#\#):not(#\#) {
  text-decoration-line: underline;
}

.x1wfrlr2:focus:not(#\#):not(#\#):not(#\#) {
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  .xg83hb1.xg83hb1:not(#\#):not(#\#):not(#\#) {
    scroll-behavior: auto;
  }
}

.xhqhppk:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-color: var(--x1xrzv63);
}

.x1om6ljp:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-color: var(--xc73mtr);
}

.x1q0q8m5:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-style: solid;
}

.x1qhh985:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-width: 0;
}

.xso031l:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-width: 1px;
}

.x1ibpnim:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-left-color: var(--xc73mtr);
}

.x19ypqd9:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-left-style: solid;
}

.xe0pwq:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-left-width: 1px;
}

.xh71dlq:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-color: var(--x1xrzv63);
}

.x1vyo005:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-color: var(--xc73mtr);
}

.x13fuv20:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-style: solid;
}

.x972fbf:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-width: 0;
}

.x178xt8z:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-width: 1px;
}

.x4j2xbe:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 0.375rem;
}

.xx63ema:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 0.4375rem;
}

.x164u9eo:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 0.5rem;
}

.xjobft1:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 0.91em;
}

.x1nb25p5:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1.15em;
}

.xmll18r:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1.25rem;
}

.x11q3zg3:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1.375rem;
}

.xb8l8e1:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1.75rem;
}

.xwl81jg:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1.875rem;
}

.x5yr21d:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 100%;
}

.xxfr7qh:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 11.875rem;
}

.x1kpxq89:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 12px;
}

.xx3o462:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 15px;
}

.x13xxz35:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 18.75rem;
}

.xjm9jq1:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 1px;
}

.xalc01g:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: 7.5rem;
}

.xt7dq6l:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: auto;
}

.xs5hkks:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: var(--x11kusdm);
}

.xw1pbey:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: var(--x14t8rln);
}

.xscv5ts:not(#\#):not(#\#):not(#\#):not(#\#) {
  height: var(--x1euxyaw);
}

.x11x1q8s:not(#\#):not(#\#):not(#\#):not(#\#) {
  left: var(--x1sibvyx);
}

.x1ddd6g:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: var(--x11cmx51);
}

.xasscpn:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: var(--x1sibvyx);
}

.x1tpm3l8:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: var(--x1w8c4ip);
}

.x1wplt5y:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-bottom: var(--xv5ac2g);
}

.x72edsj:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: 0.125rem;
}

.x178dpqu:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: 1.75rem;
}

.x1tn0eix:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: 2.125rem;
}

.x12boebu:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: 3.5rem;
}

.x5viknp:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: 7rem;
}

.xr1yuqi:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: auto;
}

.xqlchko:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--x11cmx51);
}

.x11knqwf:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--x1sibvyx);
}

.xyyyvji:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--x1w8c4ip);
}

.x1dd38vl:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--xb820l9);
}

.x1qc5ehe:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--xv5ac2g);
}

.xhbdy0s:not(#\#):not(#\#):not(#\#):not(#\#) {
  margin-top: var(--xyukkuv);
}

.x193iq5w:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 100%;
}

.x9h9p8b:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 20rem;
}

.xowlazn:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 24rem;
}

.x1ptgtm5:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 26rem;
}

.xf2d64e:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 40rem;
}

.xvnzux6:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 46rem;
}

.x1n7r0mb:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: 50rem;
}

.x1suk2g7:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: var(--x194ip2b);
}

.x15wuvox:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: var(--x1ark660);
}

.x70j33d:not(#\#):not(#\#):not(#\#):not(#\#) {
  max-width: var(--x1dmnxq1);
}

.xg6iff7:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: 100vh;
}

.xgbkey0:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-height: 2.75rem;
}

.xeuugli:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 0;
}

.x1jn9kf5:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 13rem;
}

.xl7jybe:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 30rem;
}

.x180enl3:not(#\#):not(#\#):not(#\#):not(#\#) {
  min-width: 40rem;
}

.xw2csxc:not(#\#):not(#\#):not(#\#):not(#\#) {
  overflow-x: auto;
}

@media (width <= 760px) {
  .x10xp3vy.x10xp3vy:not(#\#):not(#\#):not(#\#):not(#\#) {
    padding: 0.75rem;
  }

  .x1ddj0rc.x1ddj0rc:not(#\#):not(#\#):not(#\#):not(#\#) {
    padding: 1.25rem 0.75rem 0;
  }

  .x144amrv.x144amrv:not(#\#):not(#\#):not(#\#):not(#\#) {
    padding: var(--x1sibvyx);
  }

  .xsjgf02.xsjgf02:not(#\#):not(#\#):not(#\#):not(#\#) {
    padding: var(--x1w8c4ip);
  }
}

.xe2ooyr:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-bottom: 0.05em;
}

.x1sy48kn:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-bottom: var(--x11cmx51);
}

.x5bwsw3:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-bottom: var(--x1vvvw5k);
}

.xa6c9hp:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-bottom: var(--x1w8c4ip);
}

.x164arix:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-bottom: var(--xv5ac2g);
}

.x1hx5lgg:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-top: 5rem;
}

.xynltrz:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-top: var(--x11cmx51);
}

.x12w6ozt:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-top: var(--x1sibvyx);
}

.xl3ojsc:not(#\#):not(#\#):not(#\#):not(#\#) {
  padding-top: var(--x1w8c4ip);
}

.x3m8u43:not(#\#):not(#\#):not(#\#):not(#\#) {
  right: 0;
}

.x1k3nsly:not(#\#):not(#\#):not(#\#):not(#\#) {
  scroll-padding-top: 5rem;
}

.x1kq3sn5:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: calc(100% + 0.5rem);
}

.xtsamo2:not(#\#):not(#\#):not(#\#):not(#\#) {
  top: var(--x1sibvyx);
}

.xq36fz5:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 0.4375rem;
}

.x134t7b2:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 0.91em;
}

.xhekxkv:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 1.15em;
}

.x1h5jark:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 1.375rem;
}

.xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 100%;
}

.xsmyaan:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 12px;
}

.x1a00udw:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 15px;
}

.x1i1rx1s:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 1px;
}

.x154i66o:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 3.5rem;
}

.x1bm8l82:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 34%;
}

.xthe8de:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 78%;
}

.xi9l4ab:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 82%;
}

.xd8l9wo:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: 86%;
}

.xeq5yr9:not(#\#):not(#\#):not(#\#):not(#\#) {
  width: fit-content;
}

.xmr7p0:first-child:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-color: var(--xc73mtr);
}

.x1aj7aux:first-child:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-style: solid;
}

.x1axty5n:first-child:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-top-width: 1px;
}

.x1t1lzn6:last-child:not(#\#):not(#\#):not(#\#):not(#\#) {
  border-bottom-width: 0;
}

@media (width <= 1000px) {
  .x1v5octf.x1v5octf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    gap: 0;
  }

  .xesy7x3.xesy7x3:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    gap: 3rem;
  }

  .x13kvrmr.x13kvrmr:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    gap: var(--xyukkuv);
  }
}

@media (width <= 760px) {
  .xqy5vcy.xqy5vcy:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    gap: var(--x11cmx51);
  }

  .x188w7bc.x188w7bc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    gap: var(--x1w8c4ip);
  }

  .xmoxjqr.xmoxjqr:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-column: 1 / -1;
  }

  .xzzs2i6.xzzs2i6:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-column: 1;
  }

  .x1k1rq3r.x1k1rq3r:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-areas:
      "name value"
      "plot plot";
  }

  .x1k501a.x1k501a:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    margin-inline: 0;
  }

  .x1kiqje8.x1kiqje8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-block: 0.1875rem;
  }

  .x1vvzx18.x1vvzx18:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-block: var(--xko9tla) var(--x1w8c4ip);
  }

  .x1biqmy3.x1biqmy3:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-inline: var(--x11cmx51);
  }

  .x5vg5tg.x5vg5tg:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-inline: var(--x1w8c4ip);
  }

  .x5w9kwi.x5w9kwi:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    align-items: flex-start;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .x1xydfvp.x1xydfvp:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x108th10-B;
  }

  .x11dnng6.x11dnng6:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x134jkux-B;
  }

  .x127xini.x127xini:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x143nqy0-B;
  }

  .x5bi3i1.x5bi3i1:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x161gqwa-B;
  }

  .xbupiyb.xbupiyb:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1bmcp3a-B;
  }

  .xkc0dju.xkc0dju:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1cmn93g-B;
  }

  .xg0ffx3.xg0ffx3:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1n4ae4f-B;
  }

  .x7xk0ps.x7xk0ps:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1npa8st-B;
  }

  .x120146u.x120146u:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1rwrtx7-B;
  }

  .x12r9c07.x12r9c07:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x1wc8ddo-B;
  }

  .x13b2ixc.x13b2ixc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: x9q3ci1-B;
  }

  .xred4sm.xred4sm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: xb0cygf-B;
  }

  .x1u54zsi.x1u54zsi:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    animation-name: xfr2p19-B;
  }
}

@media (width <= 1000px) {
  .xngjx8w.xngjx8w:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-inline-end-width: 0;
  }

  .xoajg9j.xoajg9j:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-inline-start-width: 0;
  }
}

@media (width <= 760px) {
  .x1xzt03y.x1xzt03y:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-inline-start-width: 0;
  }
}

@media (width <= 1200px) {
  .x14fgzj4.x14fgzj4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    display: block;
  }

  .x15iu2ip.x15iu2ip:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    display: none;
  }
}

@media (width <= 1000px) {
  .x1m10yy7.x1m10yy7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    display: block;
  }

  .xv7mj2w.xv7mj2w:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    display: none;
  }
}

@media (width <= 760px) {
  .x14aactx.x14aactx:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    flex-direction: column;
  }

  .x15kdm6y.x15kdm6y:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 0.6875rem;
  }

  .xl4qr32.xl4qr32:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 0.875rem;
  }

  .x1qhiqne.x1qhiqne:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.125rem;
  }

  .x1sc28hv.x1sc28hv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.375rem;
  }

  .x11zp266.x11zp266:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.5625rem;
  }

  .xilv18j.xilv18j:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.5rem;
  }

  .xjy3pa8.xjy3pa8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.75rem;
  }

  .xrpe6vf.xrpe6vf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 1.875rem;
  }

  .x8hxcs8.x8hxcs8:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 2.125rem;
  }

  .xxa2fje.xxa2fje:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 2.5rem;
  }

  .xhyli9l.xhyli9l:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 3.25rem;
  }

  .xtint3r.xtint3r:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: 3.5rem;
  }

  .xym9ow3.xym9ow3:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: var(--xagff4b);
  }

  .x18mouom.x18mouom:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    font-size: var(--xidj7oe);
  }
}

@media (width <= 1200px) {
  .x1jyl6pw.x1jyl6pw:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width <= 1000px) {
  .x1oogcj7.x1oogcj7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: 1fr auto;
  }

  .xi45btc.xi45btc:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: 1fr;
  }

  .x1spaebq.x1spaebq:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: minmax(0, 1fr);
  }

  .xpz6ejk.xpz6ejk:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width <= 760px) {
  .x1y8ecfe.x1y8ecfe:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: 2rem 1fr 1.25rem;
  }

  .xqso0cm.xqso0cm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: 8.5rem 1fr;
  }

  .xvmlo93.xvmlo93:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: minmax(0, 1fr) auto;
  }

  .xrwk0mx.xrwk0mx:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: minmax(0, 1fr);
  }

  .xel5v4.xel5v4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .x1hr4rtz.x1hr4rtz:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .x2vobs4.x2vobs4:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    justify-self: start;
  }

  .x2pdi50.x2pdi50:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    margin-inline-start: -52.5%;
  }

  .x1jux2sr.x1jux2sr:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    overflow-wrap: normal;
  }

  .x1ato4ck.x1ato4ck:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-inline-start: 2rem;
  }

  .x1mc79gy.x1mc79gy:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    white-space: pre;
  }
}

@media (width <= 1000px) {
  .xlxtc00.xlxtc00:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-bottom-width: 1px;
  }

  .x1ymofb.x1ymofb:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-top-width: 1px;
  }
}

@media (width <= 760px) {
  .x1yaghyx.x1yaghyx:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    border-top-width: 1px;
  }

  .x1ydnkwv.x1ydnkwv:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    height: 1.375rem;
  }

  .x16c7lf7.x16c7lf7:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    height: 15rem;
  }

  .x7s5a71.x7s5a71:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    margin-top: 2.5rem;
  }

  .xrzj35c.xrzj35c:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    margin-top: 5rem;
  }

  .x47r5qf.x47r5qf:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    padding-top: 3rem;
  }

  .xcu00cs.xcu00cs:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
    width: 183%;
  }
}

.x11xekio:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):before {
  color: var(--x1fl7dwh);
}

.x1x9m963:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):before {
  color: var(--xupupt1);
}

.xf4ix43:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):before {
  content: "■";
}

.xz42j49:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):before {
  font-size: 0.4375rem;
}

.xs7ervm:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):not(#\#):before {
  padding-top: 0.3125rem;
}
